
@{
    ViewData["Title"] = "Bio";
}

<h1>Bio</h1>

<article class="bio">
    <section id="bio-description">
        <p>
            Currently studying and training to becoming an ASP.NET Core Website/Web App Programmer, and using Azure Cloud Services.
        </p>
        <p>
            Open to related IT work and other IT roles such as Help Desk Support, I will also be programming games in some of my spare time once I have completed my studies.
            I am currently working in a call center as a customer serivce representative, for Woolworths Mobile. I also a qualified personal trainer and do bodybuilding as a side hobby,
            I have won some medals in novice competitions.
        </p>
    </section>
    <section id="stage">
        <div id="bio-object" class="spinner" style="-webkit-transform-origin: 180px 0 0;">
            <img style="-webkit-transform: rotateY(0deg) translateX(180px); padding: 0 0 0 160px;" src="images/beach1.jpg" width="200" height="160" alt="">
            <img style="-webkit-transform: rotateY(-72deg) translateX(180px); padding: 0 0 0 147px;" src="images/beach2.jpg" width="213" height="160" alt="">
            <img style="-webkit-transform: rotateY(-144deg) translateX(180px); padding: 0 0 0 120px;" src="images/beach3.jpg" width="240" height="160" alt="">
            <img style="-webkit-transform: rotateY(-216deg) translateX(180px); padding: 0 0 0 147px;" src="images/beach4.jpg" width="213" height="160" alt="">
            <img style="-webkit-transform: rotateY(-288deg) translateX(180px); padding: 0 0 0 122px;" src="images/beach5.jpg" width="238" height="160" alt="">
        </div>
    </section>
</article>