
@{
    ViewData["Title"] = "Bio";
}

<h1>Bio</h1>

<article class="bio">
    <section id="bio-description">
        <p>
            Currently studying and training to becoming an ASP.NET Core Website/Web App Programmer, and using Azure Cloud Services.
        </p>
        <p>
            Open to related IT work and other IT roles such as Help Desk Support, I will also be programming games in some of my spare time once I have completed my studies.
            I am currently working in a call center as a customer serivce representative, for Woolworths Mobile. I also a qualified personal trainer and do bodybuilding as a side hobby,
            I have won some medals in novice competitions.
            <i class="fas fa-text"
               aria-hidden="true"></i>
        </p>
    </section>
    <section id="stage">
        <div id="bio-object" class="spinner" style="-webkit-transform-origin: 180px 0 0;">
            <img style="-webkit-transform: rotateY(0deg) translateX(180px); padding: 0 0 0 0;" src="~/images/html.jpg" width="200" height="160" alt="HTML5">
            <img style="-webkit-transform: rotateY(-72deg) translateX(180px); padding: 0 0 0 0;" src="~/images/css.jpg" width="213" height="160" alt="CSS3">
            <img style="-webkit-transform: rotateY(-144deg) translateX(180px); padding: 0 0 0 0;" src="~/images/js.jpg" width="240" height="160" alt="Javascript">
            <img style="-webkit-transform: rotateY(-216deg) translateX(180px); padding: 0 0 0 0;" src="~/images/c-sharp.jpg" width="213" height="160" alt="C#">
            <img style="-webkit-transform: rotateY(-288deg) translateX(180px); padding: 0 0 0 0;" src="~/images/sql.jpg" width="238" height="160" alt="SQL">
        </div>
    </section>
</article>

