
@{
    ViewData["Title"] = "Bio";
}

<h1>Bio</h1>

<article class="bio">
    <section id="bio-description">
        <div id="scroll">
            <p>
                Currently studying and training to becoming an .NET Core Application Developer/Programmer, and using Azure Cloud Services.
                <br />
                I am currently programming front end and back end apps as personal projects to improve my coding skills, I also enjoy learning to program  games in some of my spare
                time.
                My most previous role involved working in a call center as a customer serivce representative, for Woolworths Mobile. I also a qualified personal trainer and do bodybuilding as a side hobby,
                I have won some medals in novice bodybuilding competitions.
            </p>
        </div>
    </section>
    @*Section for rotating programming words*@
    <section id="stage">
        <div id="bio-object" class="spinner" style="-webkit-transform-origin: 180px 0 0;">
            <img style="-webkit-transform: rotateY(0deg) translateX(180px); padding: 0 0 0 0;" src="https://lh3.googleusercontent.com/bypPAb-SFUescWF2db8Gtzwjoa25xOUjLGgxKU6Qlb5_YIU36LxU14RZ8cZ53w5YQ00pWWv0KCndT1DSgeV_L0EIBV-ysFPNtOYgomdi26Y14JxrnBwYGETBU42rFYLUikob6GJh2A" alt="HTML5">
            <img style="-webkit-transform: rotateY(-72deg) translateX(180px); padding: 0 0 0 0;" src="https://lh3.googleusercontent.com/qO9IC9vE5FjjTOl04EAvQxm__wAM72kOO7bneft7PFGuj2bT5c_1wVqscvLl02p02lZJuWmBBzkil2K515TcEyeW1UKi-Vq2EOAFF4uPxiJxeM-kKyN4wlB8rJXRuEj8u9B7Ur3i3w" alt="CSS3">
            <img style="-webkit-transform: rotateY(-144deg) translateX(180px); padding: 0 0 0 0;" src="https://lh3.googleusercontent.com/x4wKSVJAT1FZln2url5syzBZ6ELbS2U_QliXvxkRG8s-JXC9fJnyeFog8ZDUhQEnysC0Dv8FYJTZittKI9WGvrTV6XmFNZLS6jTnFKE30FekRiUMM0Uv3dP7DNn3IUDYeWzOh67sjg" alt="Javascript">
            <img style="-webkit-transform: rotateY(-216deg) translateX(180px); padding: 0 0 0 0;" src="https://lh3.googleusercontent.com/lupx8aIPCuIGB5J9_415T9qEOaht5cToWghXtsKg4RFrXv4MlUWKIRPN0iJd8r1jXITKcSYkRQpXm77U8c-UMi1VAed9hyNbvqI39e-0ZUICe48wdQI4L_fgRqU1y1yoYDjXDxJjlQ" alt="C#">
            <img style="-webkit-transform: rotateY(-288deg) translateX(180px); padding: 0 0 0 0;" src="https://lh3.googleusercontent.com/DEliEUTULhiWB4CNqwPKBNhrFIyIbSeH9jYNUcVrTMOlOWXqJgp1auHQllvPNq1nHPwC3d45el5Jls2qOKS7wr4_e-7fEkpGV5puKRYC4Hx49JuwtIqCiTvsxhQqppTyC9xFQG4Cgw" alt="SQL">
        </div>
    </section>
</article>

<aside>
    Disclaimer: This website currently has responsive design catered for large desktop screens, laptops and the following devices:<br />
    Samsung Galaxy S20 5G Ultra, S7 Edge, Samsung Galaxy A8 iPhone X, iPhone 6/7/8.
</aside>



