
@{
    ViewData["Title"] = "Bio";
}

<h1>Bio</h1>

<article class="bio">
    <section>
        <p>
            Currently studying and training to becoming an ASP.NET Core Website/Web App Programmer, and using Azure Cloud Services.
        </p>
        <p>
            Open to related IT work and other IT roles such as Help Desk Support, I will also be programming games in some of my spare time once I have completed my studies.
            I am currently working in a call center as a customer serivce representative, for Woolworths Mobile. I also a qualified personal trainer and do bodybuilding as a side hobby,
            I have won some medals in novice competitions.
        </p>
    </section>
    <section>
        {Animated object to go here}
    </section>
</article>