@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center" id="brick-wall">
        <div id="leftdoor_inner"></div>
        <div id="leftdoor_outer"></div>
        <div id="rightdoor_inner"></div>
        <div id="rightdoor_outer"></div>
        <a class="open_close_doors" href="#">click me</a>
    </div>