
@{
    ViewData["Title"] = "Projects";
}



<h1>Projects</h1>

@*Slide is an alteration from the sample from W3 schools at: https://codepen.io/bcarvalho/pen/WXmwBq*@

<div class="container ">
    @*Main pictures*@
    <div class="mySlides">
        <div class="numbertext">1 / 6</div>
        <a href="https://github.com/TroydonAnabolic/TroydonFitness">
            @*Slide description which shows only when hoevered over main slide images*@
            <div class="image-description invisible">
                Description: An ASP.NET Core personal training website where you can purchase goods and services.
                Services include personal training, exercise and diet prescription. Goods include training equipment and supplements.
                There is an option to create a user account to manage purchased goods and services e.g A purchased exercise routine can be
                saved to the user profile to track and monitor exercises. <br />
                https://github.com/TroydonAnabolic/TroydonFitness
            </div>
        </a>
        <img src="https://lh3.googleusercontent.com/tRZy_z46zjOtFtYlolgilPtu4hQ3pTIeoFjc5qApGMC_PsJw03yGiP_nMJbBvcIFyAD1H5aOh_n8cWpGVZ6onODeLclPpiWxtnxWjaDTC7TqeIIFUuXPSZ6MxAgOikRR5yFf9OcO2w" style="width:100%">
    </div>

    <div class="mySlides">
        <div class="numbertext">2 / 6</div>
        <a href="https://github.com/TroydonAnabolic/MyCSharpQuizAnswers">

            <div class="image-description invisible">
                Description: A text file with various answers to some basic C# Questions, most of which was my variant, using .NET Core. <br />
                https://github.com/TroydonAnabolic/MyCSharpQuizAnswers
            </div>
        </a>
        <img src="https://lh3.googleusercontent.com/RvuA-NCyX_0rwrOXwhn_5A1I-Rzfjr-AjpdZxT9eBPANm0rUhNQbBzKhxeg-mq3lR04DGgE4PvK6OjMoUC0E8fmi-0ctqfU_z77sOhDbzZWH0EVFm7w1H0-kHAGJB4wRRUSgL9AIiA" style="width:100%">
    </div>

    <div class="mySlides">
        <div class="numbertext">3 / 6</div>
        <a href="https://github.com/TroydonAnabolic/Troydon-Resume-NET-Core">

            <div class="image-description invisible">
                Description: A simple ASP.NET Core website that contains a website resume.<br />
                https://github.com/TroydonAnabolic/Troydon-Resume-NET-Core
            </div>
            <img src="https://lh3.googleusercontent.com/zEqKyTqaZLw7H3-GhDiKiou1SAN3Xc-AlpsiSNJtd6shmiG1A0WPa1uYlxrE8KKhsT_UmhqFMmH1biGMOExj6q5au3tIKg6nkyeeX9xJl8HglOB2xytcYio1pDurTxdugEhhZeoz6A" style="width:100%">
        </a>
    </div>

    <div class="mySlides">
        <div class="numbertext">4 / 6</div>
        <a href="https://github.com/TroydonAnabolic/InfernalDragons">
            <div class="image-description invisible">
                Description: An RPG Game I am currently working on periodically whilst following a Udemy tutorial.
                Currently using Unity 3D technologies with C# and making my own algorithm variations sometimes.
                https://github.com/TroydonAnabolic/InfernalDragons
            </div>
            <img src="https://lh3.googleusercontent.com/m75M-yHBHT70VzwlfTM77QLKFVWB2v8egeBtwmY8rqvNY99MWqSXtNB2Nry_V1OirPpTv0KvkOPj07rOykhKfchT82V8TcFEDEl3VVvhJON_Nk-BQBywby9_sJWA07KBWGLLFlgTmw" alt="Infernal Dragon" style="width:100%">
        </a>
    </div>

    <div class="mySlides">
        <div class="numbertext">5 / 6</div>
        <a href="https://github.com/TroydonAnabolic/BirdGame">
            <div class="image-description invisible">
                Description: A simple Bird game program that involves flying a bird around. The bird can fly only when it has a certain
                Health point, and travels alot faster. Currently written in Java.
                https://github.com/TroydonAnabolic/BirdGame
            </div>
        </a>
        <img src="https://lh3.googleusercontent.com/fP7Qd8drA6JWURDTPnq8wD1i-bE38AA0cZhi_TIYX_Y7Tce5mLhw4OtzITzy8pr8lngOAjSCxu9YsfXKDqLm-dD4o7ZfeNIDWEVWZSq1q8AqgaLqE_XZhb1jWx_v6FntZztO8TgAvA" style="width:100%">
    </div>

    <div class="mySlides">
        <div class="numbertext">6 / 6</div>
        <a href="https://github.com/TroydonAnabolic/BirdGame">
            <div class="image-description invisible">
                Description: A Space Invaders game I followed off a tutorial and made minor adjustments to <br />
                https://github.com/TroydonAnabolic/SpaceInavdersTutorial
            </div>
        </a>
        <img src="https://lh3.googleusercontent.com/4sA0r_07hJ-j5RViXvI2d5sJbt7ZXBGQG1smSGA28QfEz0cJYE7JDJ-8THUdBqIhweiYgZWXCM523nDRAMAeTNNVRYWZONMryVlSt3pMy_zTKln54Qeekuk8P6y8ZrIlsxIAeV0-Fw" style="width:100%; height:100%;">
    </div>

    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>

    @*Slide caption*@
    <div class="caption-container">
        <p id="caption"></p>
    </div>

    @*Preview slides*@
    <div class="row">
        <div class="column">
            <img class="demo cursor" src="https://lh3.googleusercontent.com/tRZy_z46zjOtFtYlolgilPtu4hQ3pTIeoFjc5qApGMC_PsJw03yGiP_nMJbBvcIFyAD1H5aOh_n8cWpGVZ6onODeLclPpiWxtnxWjaDTC7TqeIIFUuXPSZ6MxAgOikRR5yFf9OcO2w" style="width:100%" onclick="currentSlide(1)" alt="Troydon Fitness">
        </div>
        <div class="column">
            <img class="demo cursor" src="https://lh3.googleusercontent.com/RvuA-NCyX_0rwrOXwhn_5A1I-Rzfjr-AjpdZxT9eBPANm0rUhNQbBzKhxeg-mq3lR04DGgE4PvK6OjMoUC0E8fmi-0ctqfU_z77sOhDbzZWH0EVFm7w1H0-kHAGJB4wRRUSgL9AIiA" style="width:100%" onclick="currentSlide(2)" alt="C# Quizzes">
        </div>
        <div class="column">
            <img class="demo cursor" src="https://lh3.googleusercontent.com/zEqKyTqaZLw7H3-GhDiKiou1SAN3Xc-AlpsiSNJtd6shmiG1A0WPa1uYlxrE8KKhsT_UmhqFMmH1biGMOExj6q5au3tIKg6nkyeeX9xJl8HglOB2xytcYio1pDurTxdugEhhZeoz6A" style="width:100%" onclick="currentSlide(3)" alt="ASP Resume">
        </div>
        <div class="column">
            <img class="demo cursor" src="https://lh3.googleusercontent.com/m75M-yHBHT70VzwlfTM77QLKFVWB2v8egeBtwmY8rqvNY99MWqSXtNB2Nry_V1OirPpTv0KvkOPj07rOykhKfchT82V8TcFEDEl3VVvhJON_Nk-BQBywby9_sJWA07KBWGLLFlgTmw" style="width:100%" onclick="currentSlide(4)" alt="Infernal Dragons">
        </div>
        <div class="column">
            <img class="demo cursor" src="https://lh3.googleusercontent.com/fP7Qd8drA6JWURDTPnq8wD1i-bE38AA0cZhi_TIYX_Y7Tce5mLhw4OtzITzy8pr8lngOAjSCxu9YsfXKDqLm-dD4o7ZfeNIDWEVWZSq1q8AqgaLqE_XZhb1jWx_v6FntZztO8TgAvA" style="width:100%" onclick="currentSlide(5)" alt="Bird Game">
        </div>
        <div class="column">
            <img class="demo cursor" src="https://lh3.googleusercontent.com/4sA0r_07hJ-j5RViXvI2d5sJbt7ZXBGQG1smSGA28QfEz0cJYE7JDJ-8THUdBqIhweiYgZWXCM523nDRAMAeTNNVRYWZONMryVlSt3pMy_zTKln54Qeekuk8P6y8ZrIlsxIAeV0-Fw" style="width:100%; height:100%" onclick="currentSlide(6)" alt="Space Invaders">
        </div>
    </div>
</div>
