
@{
    ViewData["Title"] = "Projects";
}

@section SpecialOther{

    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/js/projects.js"></script>
}

<h1>Projects</h1>

@*File is sample from W3 schools at: https://codepen.io/bcarvalho/pen/WXmwBq*@



<ul>
    <li>
        <p>Troydon Fitness</p>
        <p>
            Description: An ASP.NET Core personal training website where you can purchase goods and services.
            Services include personal training, exercise and diet prescription. Goods include training equipment and supplements.
            There is an option to create a user account to manage purchased goods and services e.g A purchased exercise routine can be
            saved to the user profile to track and monitor exercises. <br />
            https://github.com/TroydonAnabolic/TroydonFitness
        </p>
    </li>
    <li>
        <p>C# Quizzes</p>
        <p>
            Description: A text file with various answers to some basic C# Questions, most of which was my variant, using .NET Core. <br />
            https://github.com/TroydonAnabolic/MyCSharpQuizAnswers
        </p>
    </li>
    <li>
        <p>ASP Resume</p>
        <p>
            Description: A simple ASP.NET Core website that contains a website resume.<br />
            https://github.com/TroydonAnabolic/Troydon-Resume-NET-Core
        </p>
    </li>
    <li>
        <p>Infernal Dragons</p>
        <p>
            Description: An RPG Game I am currently working on periodically whilst following a Udemy tutorial.
            Currently using Unity 3D technologies with C# and making my own algorithm variations sometimes.
        </p>
    </li>
    <li>
        <p>Bird Game</p>
        <p>
            Description: A simple Bird game program that involves flying a bird around. The bird can fly only when it has a certain
            Health point, and travels alot faster. Currently written in Java.
        </p>
    </li>
</ul>
