
@{
    ViewData["Title"] = "Skills";
}

<h1>Skills</h1>

<article id="skills">
    <p class="skillWords" style="width: 400px; -webkit-animation-delay: 0s;animation-delay: 0s;-webkit-animation-duration: 4s;animation-duration: 8s; left:10%; margin-left: -200px;">HTML</p>
    <p class="skillWords" style="width: 400px; -webkit-animation-delay: 1s;animation-delay: 1s;-webkit-animation-duration: 4s;animation-duration: 8s; left:18%; margin-left: -200px;">CSS</p>
    <p class="skillWords" style="width: 400px; -webkit-animation-delay: 2s;animation-delay: 2s; -webkit-animation-duration: 4s;animation-duration:8s; left:24%; margin-left: -200px;">Javascript</p>
    <p class="skillWords" style="width: 400px; -webkit-animation-delay: 3s;animation-delay: 3s; -webkit-animation-duration: 4s;animation-duration:8s; left:30%; margin-left: -200px;">C#</p>
    <p class="skillWords" style="width: 500px; -webkit-animation-delay: 0s;animation-delay: 0s; -webkit-animation-duration: 5s;animation-duration:8s; left:40%; margin-left: -250px;">SQL</p>
    <p class="skillWords" style="width: 500px; -webkit-animation-delay: 2s;animation-delay: 2s; -webkit-animation-duration: 5s;animation-duration:8s; left:48%; margin-left: -250px;">.NET</p>
    <p class="skillWords" style="width: 400px; -webkit-animation-delay: 0s;animation-delay: 0s;-webkit-animation-duration: 4s;animation-duration: 8s; left:53%; margin-left: -200px;">SQL Server</p>
    <p class="skillWords" style="width: 400px; -webkit-animation-delay: 1s;animation-delay: 1s;-webkit-animation-duration: 4s;animation-duration: 8s; left:56%; margin-left: -200px;">ASP MVC</p>
    <p class="skillWords" style="width: 400px; -webkit-animation-delay: 2s;animation-delay: 2s; -webkit-animation-duration: 4s;animation-duration:8s; left:59%; margin-left: -200px;">Windows 10</p>
    <p class="skillWords" style="width: 400px; -webkit-animation-delay: 3s;animation-delay: 3s; -webkit-animation-duration: 4s;animation-duration:8s; left:63%; margin-left: -200px;">Office 365</p>
    <p class="skillWords" style="width: 500px; -webkit-animation-delay: 0s;animation-delay: 0s; -webkit-animation-duration: 5s;animation-duration:8s; left:72%; margin-left: -250px;">Entity Framework</p>
    <p class="skillWords" style="width: 500px; -webkit-animation-delay: 2s;animation-delay: 2s; -webkit-animation-duration: 5s;animation-duration:8s; left:77%; margin-left: -250px;">MSSQL</p>
</article>                                                                                                                                                                                                                             