
@{
    ViewData["Title"] = "Skills";
}


    <article id="skills">

        <h1>Skills</h1>


        @*Falling programming, scripting and markup language*@
        <p class="skillWords" style="width: 400px; -webkit-animation-delay: 0s;animation-delay: 0s;-webkit-animation-duration: 4s;animation-duration: 3s; left:10%; margin-left: -200px;">HTML</p>
        <p class="skillWords" style="width: 400px; -webkit-animation-delay: 1s;animation-delay: 1s;-webkit-animation-duration: 4s;animation-duration: 8s; left:18%; margin-left: -200px;">CSS</p>
        <p class="skillWords" style="width: 400px; -webkit-animation-delay: 2s;animation-delay: 2s; -webkit-animation-duration: 4s;animation-duration:4s; left:24%; margin-left: -200px;">Javascript</p>
        <p class="skillWords" style="width: 400px; -webkit-animation-delay: 3s;animation-delay: 3s; -webkit-animation-duration: 4s;animation-duration:2s; left:30%; margin-left: -200px;">C#</p>
        <p class="skillWords" style="width: 500px; -webkit-animation-delay: 0s;animation-delay: 0s; -webkit-animation-duration: 5s;animation-duration:8s; left:40%; margin-left: -250px;">SQL</p>
        <p class="skillWords" style="width: 500px; -webkit-animation-delay: 2s;animation-delay: 2s; -webkit-animation-duration: 5s;animation-duration:4s; left:48%; margin-left: -250px;">.NET</p>
        <p class="skillWords" style="width: 400px; -webkit-animation-delay: 0s;animation-delay: 0s;-webkit-animation-duration: 4s;animation-duration: 2s; left:53%; margin-left: -200px;">SQL Server</p>
        <p class="skillWords" style="width: 400px; -webkit-animation-delay: 1s;animation-delay: 1s;-webkit-animation-duration: 4s;animation-duration: 2s; left:56%; margin-left: -200px;">ASP MVC</p>
        <p class="skillWords" style="width: 400px; -webkit-animation-delay: 2s;animation-delay: 2s; -webkit-animation-duration: 4s;animation-duration:5s; left:59%; margin-left: -200px;">Windows 10</p>
        <p class="skillWords" style="width: 400px; -webkit-animation-delay: 3s;animation-delay: 3s; -webkit-animation-duration: 4s;animation-duration:8s; left:63%; margin-left: -200px;">Office 365</p>
        <p class="skillWords" style="width: 500px; -webkit-animation-delay: 0s;animation-delay: 0s; -webkit-animation-duration: 5s;animation-duration:7s; left:72%; margin-left: -250px;">Entity Framework</p>
        <p class="skillWords" style="width: 500px; -webkit-animation-delay: 2s;animation-delay: 2s; -webkit-animation-duration: 5s;animation-duration:5s; left:77%; margin-left: -250px;">MSSQL</p>
        <p class="skillWords" style="width: 400px; -webkit-animation-delay: 0s;animation-delay: 0s;-webkit-animation-duration: 4s;animation-duration: 2s; left:81%; margin-left: -200px;">jQuery</p>
        <p class="skillWords" style="width: 400px; -webkit-animation-delay: 1s;animation-delay: 1s;-webkit-animation-duration: 4s;animation-duration: 2s; left:85%; margin-left: -200px;">phpMyAdmin</p>
        <p class="skillWords" style="width: 400px; -webkit-animation-delay: 2s;animation-delay: 2s; -webkit-animation-duration: 4s;animation-duration:5s; left:91%; margin-left: -200px;">MySQL</p>
        <p class="skillWords" style="width: 400px; -webkit-animation-delay: 2s;animation-delay: 2s; -webkit-animation-duration: 4s;animation-duration:2s; left:95%; margin-left: -200px;">Bootstrap</p>

        <section id="bio-description">
            <div id="scroll">
                <p>
                     Website programming languages: HTML5, CSS, Javascript
                    <br /> Software programming languages: C# using Visual Studio, Java
                    <br /> Libraries: jQuery, Bootstrap
                    <br /> DBMS: SQL using MySQL and phpMyAdmin
                    <br /> Windows 10 Basic Software Troubleshooting
                    <br /> Basic MS Word, MS Excel, MS Power Point
                    <br /> Communication skills
                    <br /> Excellent team worker and individual worker
                    <br /> Well organized and disciplined
                    <br /> Decision Making
                    <br /> Time management
                    <br /> Excellent work ethic


                </p>
            </div>
        </section>
    </article>                                                                                                                                                                                                                             