/* ==========================================================================
  Main StyleSheet
   ========================================================================== */

/* -------------------------------------------------------------------------
   Color Pallete
   --------------

   #262626: Dark background
   #00ffcc: Main text color
   #33ccff: Heading colors
   #00ff55: loading color and menu nav


   Fonts
   -----
    font-family: 'Roboto Mono', monospace;
    font-family: 'Anton', sans-serif;
   ------------------------------------------------------------------------- */


/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/* -------------------------------------------------------------------------
   Global Styles
   ------------------------------------------------------------------------- */
/*
 * Sets all default padding and margin to 0
 */
@import url('https://fonts.googleapis.com/css?family=Monoton|Roboto+Mono|Orbitron:700&display=swap');

/*All margins and padding to be default 0*/
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*Everything should take 100% of the view port*/
html, body {
    width: 100%;
    height: 100%;
}

img {
    border: none;
}

/*A hidden class to use transition and fading classes to hide elements*/
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

/*Make elements invisible*/
.invisible {
    display: none !important;
}

/*Setting the page to flex so that we can add items in body and stretch the view as needed.*/
/* We set flexbox to align the contents in a column. The elements should stretch so that they span the whole width, and not just the width their contents take up. */

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
/* flex-grow: 1 on main makes it grow to fill the available space. This puts the footer at the bottom, since main takes up all the space in the middle. */
main {
    flex-grow: 1;
    background-color: #262626;
    color: #00ffcc;
    font-family: 'Roboto Mono';
}

/* stops the items from shrinking if there is not enough space, which happens if the content is larger than the screen, this happens as flex : 1 is default and triggers it */
header, main, footer {
    flex-shrink: 0;
}

h1 {
    margin: 3% 10% 1%;
    margin-top: 5%;
    font-size: 8rem;
    color: #33ccff;
    max-width: fit-content;
}

    /*When we hover over the h1 titles we see the flaming background effect*/
    h1:hover {
        background-image: url(https://media.giphy.com/media/3bc8pP1rVdfgN1uoMV/giphy.gif);
        background-size: cover;
        color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        text-transform: uppercase;
        font-size: 8rem;
        margin: 3% 10% 1%;
        margin-top: 5%;
        max-width: fit-content;
    }

/* -------------------------------------------------------------------------
   Header/Main navigation
   ------------------------------------------------------------------------- */
#main-nav {
    background: linear-gradient(to left, #333333 0%, #0d0d0d 100%);
    border-left: 1px solid #00ffcc;
    width: 2%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    min-height: 100%;
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
    overflow: hidden;
}

#menu-button {
    background: url('https://lh3.googleusercontent.com/8QSps4_1FJzx-IT-MTTCEFu_mTYszQmX7JJ18TYHaJG8fpRisG7M-LrAUcM9QE5GUO0kYCPxWobzslj6NKMZFBXbMNOYzsuhOI-_o_f1clTGkYjOucGznNt2kMini6mYm5q4vMckaw');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #00ffcc;
    display: block;
    text-align: center;
    position: absolute;
    height: 30%;
    top: 50%;
    margin-top: -120px;
    width: 100%;
}

#menu-pointer {
    /*Makes this vertical display writing*/
    writing-mode: vertical-rl;
    text-orientation: upright;
    /*Positioning element*/
    top: 18%;
    width: 100%;
    color: #00ffcc;
    font-size: 1.3rem;
    padding: .8rem;
    margin: .5rem;
    margin-top: 7rem;
    /*blining effect*/
    animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
    0% {
        color: #00ffcc;
    }

    49% {
        color: #00ffcc;
    }

    60% {
        color: transparent;
    }

    99% {
        color: transparent;
    }

    100% {
        color: #00ffcc;
    }
}

#logo {
    font-family: 'Monoton';
    font-size: 1rem;
    background-color: #8c8c8c;
    text-align: center;
    height: 6%;
}

#code-logo {
    background: url('https://lh3.googleusercontent.com/7d2IM3wd35RRdVGpiGyt0AAWtf6AhswtDIUf_47SG07usLmWALJblAUDd1N9ax2eT4STP9VHMti3Arx9NP37e7oDPKK9seuOdCZCVbvTm70hySJ52BZzHTtnLoTF2tzteJtSh1-llA');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%; /*allows element to stretch vertically*/
    height: 24%;
    width: 100%;
}

#menu-content {
    border-top: 1px solid #00ffcc;
    text-align: center;
    position: relative;
    height: 70%;
    width: 100%;
}

div.containerz a {
    color: #FFF;
    text-decoration: none;
    z-index: -2;
    padding: 5px 5px;
    cursor: pointer;
    background: #4d4d4d;
    max-width: 100%;
    border: 1px solid grey;
    box-shadow: 1px 1px inherit;
    border-radius: 10%;
    font-size: 1rem;
}

#menu-content ul {
    list-style-type: none;
}

    #menu-content ul li {
        margin: 3rem 0;
        max-width: 100%;
        line-height: 0.5;
    }

.social-media {
    border-top: 1px solid #00ffcc;
    margin-top: 6rem; /* pushe social media links down to add space from main page nav */
    font-size: 1rem;
}

    .social-media li {
        margin: 0 1rem;
    }

        .social-media li a {
            margin: 0 0.5rem;
            font-size: 0.8rem;
        }

/* Circle behind */
div.circleBehind a:before, div.circleBehind a:after {
    position: absolute;
    left: 50%;
    width: 40px;
    height: 40px;
    border: 4px solid #00ff55;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
}

div.circleBehind a:after {
    border-width: 2px;
    transition: all 0.4s;
}

div.circleBehind a:hover:before {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

div.circleBehind a:hover:after {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}
/* -------------------------------------------------------------------------
    Gate
   ------------------------------------------------------------------------- */
.open_close_doors {
    left: 10%;
    font-size: 4rem;
    font-family: Impact;
    opacity: 0.8;
    color: #33ccff;
    -webkit-text-stroke-color: white;
    text-shadow: -1px -1px 0 white, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    position: absolute;
    margin: auto;
    top: 40%;
    left: 28%;
    z-index: 4;
}

a:link.open_close_doors {
    text-decoration: none;
}

a:visited.open_close_doors {
    text-decoration: none;
}

a:hover.open_close_doors {
    text-decoration: none;
    color: #99e6ff;
    text-shadow: -1px -1px 0 white, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    opacity: 0.6;
}

a:active.open_close_doors {
    text-decoration: none;
}

#brick-wall {
    width: 100% !important;
    height: 100% !important;
    flex-direction: row;
    flex-shrink: 1;
    overflow: hidden; /*overflow hidden prevents the wall from moving out of the viewport*/
}

#leftdoor_inner {
    background: url('https://lh3.googleusercontent.com/pwgsm3IZGqfDPSMZpAGULKxKTK5pFd7hCFoKkfvnLHj7p3iYGmwNBj8VJBRYBYuOPdARYy_0_5NBjnpWJYimp0J6YRyDmKMk2n2Bz5ekBLOAqjR9jsBBR3ZxEY6vDbqeUgYeQuDitQ');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40%;
    height: 100%;
    top: 0%; /*left and top were used to position elements over each other*/
    left: 10%;
    position: relative;
    z-index: 2;
}

#leftdoor_outer {
    background: url('https://lh3.googleusercontent.com/eoUfw1VHYSQT9xLAPDJlb7s89zqzXSXOjI_p1EXRvhyF1kD4O7HWhoECmgivgSoZL_atmoIjQN6XixVIJxfAbRrgE5KbRAUCWZ4NXuOgoptGs92m5-2gzoqfdJlop-PH3sZgQdak-g');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 50%;
    height: 100%; /*100% of parent element size*/
    opacity: 0.75;
    top: -100%;
    left: 0;
    position: relative;
    z-index: 1;
}

#rightdoor_inner {
    background: url('https://lh3.googleusercontent.com/4cPjc8G5F2Kl3HbcaASeXvK2Ekz0dnlL7QuFKyNTsNqAWC276_1TQJGKoyf8dcEQUhKKRbS3Nv-A83GG5ISRZo_2Z2TVqMAtXx7SVPAXokM2IeatigEuqAYoYWlm8TXIvWXFlD0pEg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40%;
    height: 100%;
    top: -200%;
    left: 50%;
    position: relative;
    z-index: 2;
}

#rightdoor_outer {
    background: url('https://lh3.googleusercontent.com/eoUfw1VHYSQT9xLAPDJlb7s89zqzXSXOjI_p1EXRvhyF1kD4O7HWhoECmgivgSoZL_atmoIjQN6XixVIJxfAbRrgE5KbRAUCWZ4NXuOgoptGs92m5-2gzoqfdJlop-PH3sZgQdak-g');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 50%;
    height: 100%; /*100% of parent element size*/
    opacity: 0.75;
    top: -300%;
    left: 50%;
    position: relative;
    z-index: 1;
}

.rightdoor_open {
    background: url('https://lh3.googleusercontent.com/8DE1IsrlerCHKBLx-3ngR5b4lhTTJYbnWXH5kOhPEkV_4y_q11Le6Q0xx_zzM-auGuSXdaMvHxFzXTt0Vd2uOwSJYdJp6PkZEgHNepoQ-KAylgd4aQKpf0hrHYZ5ydia49DNazgb6w');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40%;
    height: 100%;
    top: -400%;
    left: 65%;
    position: relative;
    z-index: 2;
}

.leftdoor_open {
    background: url('https://lh3.googleusercontent.com/7MgK5uIp1Nbs-9uidiNrl5mjk7xBq0YqcqJYvUN3w0RBTVCVC69qkUfVx9r5j4Xb-YZlqPMfA-S7haIlC50OrjRaQDCKAE6gN5aVUWaC-kuh_VFrs7GgTBKyiMnjB0vbaisqhR2t0w');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40%;
    height: 100%;
    top: -500%;
    left: -5%;
    position: relative;
    z-index: 2;
}

/* -------------------------------------------------------------------------
    Biography page
   ------------------------------------------------------------------------- */

article.bio {
    margin: 0 2%;
    padding: 40px 20px;
    overflow: hidden;
}

#bio-description {
    width: 60%;
    float: left;
    padding: 5% 15%;
    height: 500px;
    line-height: 2rem;
    top: 20%;
}

/*This scrolling animation is a modification of the code posted on this blod: https://www.positronx.io/create-css-scrolling-text-effects-marquee/ by Djamber*/
.scroll-up {
    overflow: hidden;
    position: relative;
    height: 100%;
}

    /*Select the first paragraph within the scoll up container to apply the infinite scrolling effect*/
    .scroll-up p:nth-child(1) {
        line-height: 3rem;
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        text-align: center;
        /* Starting position */
        /* Apply animation to this element */
        -moz-animation: demo-1 15s linear infinite;
        -webkit-animation: demo-1 15s linear infinite;
        animation: demo-1 15s linear infinite;
    }
/* Move it (define the animation) */
@-moz-keyframes demo-1 {
    0% {
        -moz-transform: translateY(50%);
    }

    100% {
        -moz-transform: translateY(-100%);
    }
}

@-webkit-keyframes demo-1 {
    0% {
        -webkit-transform: translateY(50%);
    }

    100% {
        -webkit-transform: translateY(-100%);
    }
}

@keyframes demo-1 {
    0% {
        -moz-transform: translateY(50%); /* Firefox bug fix */
        -webkit-transform: translateY(50%); /* Firefox bug fix */
        transform: translateY(50%);
    }

    100% {
        -moz-transform: translateY(-100%); /* Firefox bug fix */
        -webkit-transform: translateY(-100%); /* Firefox bug fix */
        transform: translateY(-100%);
    }
}

#bio-description p {
    padding: 1%;
}

/*Spinning Object*/

#bio-object {
    width: 40%;
    float: left;
    padding: 5%;
}

    #bio-object img {
        width: 200px;
        height: 160px;
    }

/* WebKit and Opera browsers */
@-webkit-keyframes spinner {
    from {
        -webkit-transform: rotateY(0deg) rotateZ(30deg);
    }

    to {
        -webkit-transform: rotateY(360deg) rotateZ(90deg);
    }
}

/* all other browsers */
@keyframes spinner {
    from {
        -moz-transform: rotateY(0deg) rotateZ(30deg);
        -ms-transform: rotateY(0deg) rotateZ(30deg);
        transform: rotateY(0deg) rotateZ(30deg);
    }

    to {
        -moz-transform: rotateY(360deg) rotateZ(-30deg);
        -ms-transform: rotateY(360deg) rotateZ(-30deg);
        transform: rotateY(360deg) rotateZ(-30deg);
    }
}

/* Spinning object */
#none {
    margin: 1em 1em;
    -webkit-perspective: none;
    -moz-perspective: none;
    -ms-perspective: none;
    perspective: none;
}

.spinner {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

    .spinner:hover {
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
    }

    .spinner img {
        position: absolute;
        border: 1px solid #ccc;
        background: rgba(255,255,255,0.8);
        box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
    }

aside {
    position: absolute;
    left: 0;
    display: inline;
    background-color: grey;
    opacity: 0.7;
    margin: 2rem;
    margin-left: 0;
    padding: 1rem;
    float: none;
    color: white;
    text-align: center;
    border-radius: 20%;
    max-width: 100%;
}

/* -------------------------------------------------------------------------
  Skills page
   ------------------------------------------------------------------------- */

/*Some of the falling word idea is used from the falling snow sample on https://www.claytabase.co.uk/Web-Site-Design-Services/Technical-Articles/Using-CSS/Create-Falling-Objects-in-CSS by Gavin clayton*/

#skills {
    position: absolute;
    opacity: 0.5;
    width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.snowContainer {
    background-color: black;
    overflow: hidden;
}

.skillWords {
    position: absolute;
    top: -450px;
    color: #00ffff;
    opacity: .2;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Orbitron';
    animation: skillWordsSlide ease-in infinite;
    -webkit-animation: skillWordsSlide ease-in infinite;
    -moz-animation: skillWordsSlide ease-in infinite;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes skillWordsSlide {
    from {
        position: absolute;
        top: -10%;
    }

    to {
        position: absolute;
        top: 100%;
    }
}

@-webkit-keyframes skillWordsSlide {
    from {
        position: absolute;
        top: -10%;
    }

    to {
        position: absolute;
        top: 100%;
    }
}

@-moz-keyframes skillWordsSlide {
    from {
        position: absolute;
        top: -10%;
    }

    to {
        position: absolute;
        top: 100%;
    }
}

/* -------------------------------------------------------------------------
    Projects page
   ------------------------------------------------------------------------- */

/*Projects Slider animation*/
img {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
    box-sizing: border-box;
    margin: 3rem auto;
    width: 36%;
    text-align: center;
}

/* Hide the images by default */
.mySlides {
    display: none;
}


/* Slide Description*/
.image-description {
    background-color: grey;
    opacity: 0.6;
    padding: 2%;
    position: absolute;
    left: 10%;
    top: 7%;
    padding: 5%;
    vertical-align: middle;
    height: 60%;
    width: 80%;
    overflow: auto;
}

    /*hide the scroll bar*/
    .image-description::-webkit-scrollbar {
        display: none;
    }

.mySlides a {
    color: inherit;
    font-family: inherit;
    font-size: 1rem;
    overflow-wrap: break-word;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white !important;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 2%;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 2%;
}
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2 !important;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.row {
    width: 100%;
    text-align: center;
    left: 0;
    margin: 0;
}

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
    border-radius: 50%;
    margin: 3%;
}

    .active,
    .demo:hover {
        opacity: 1;
    }


/* -------------------------------------------------------------------------
  Contacts page
   ------------------------------------------------------------------------- */

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section, ma {
    display: block;
    position: relative;
}

/* set an earth to be backkground img*/
#earth-bg {
    background: url(https://lh3.googleusercontent.com/pESyV4PL4oQ5aTZlatQvOI3NjjYelP89hHkiL1MG_ppL6Lsc11wJEYAH7Z6VLXs4jNLD6O7wsBNGNH9zsFqr0h9HzPeHI345lAl8Oe2aE0giwmZQhQ0Gb22Rieu2zD0yORvz6C7EFA);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    transition: transform .5s ease; /* [2] Transition property for smooth transformation of images */
}

main {
    overflow: hidden;
}

    /* [3] Finally, transforming the image when container gets hovered */

    main #earth-bg {
        transform-origin: 50% 65%;
        transition: transform 5s, filter 3s ease-in-out;
        filter: brightness(150%);
    }

    /* The Transformation when the main element is hovered  we select the earth bg and apply this style */
    main:hover #earth-bg {
        filter: brightness(100%);
        transform: scale(1.5);
    }

/*Contact form style*/
#contact .container {
    opacity: 1;
}

#contact form {
    width: 80%;
    outline: solid 5px #00ffcc;
    padding: 2rem 5rem;
    margin-top: 2rem;
    background-color: #0d0d0d;
    opacity: 0.5;
    font-size: 0.8rem;
    box-shadow: 1px 1px grey;
}

    /*When we hover over the contact form ID we apply a new background flame image*/
    #contact form:hover {
        background-image: url(https://media.giphy.com/media/3bc8pP1rVdfgN1uoMV/giphy.gif);
    }


#contact .form-group {
    color: grey;
    text-align: left;
}


#contact input, #contact textarea, #contact textarea::placeholder {
    background-color: black;
    color: #00ffcc;
}

#contact label, input[type=tel], input[type=text], input[type=email] {
    text-align: left;
}

#contact input[type=submit] {
    border: 1px solid white;
    text-align: center;
    border-radius: 100%;
    padding: 3rem;
    margin-top: 1.5rem;
    outline-width: 10px;
}

    /*make submit button highlighted when hovered over*/
    #contact input[type=submit]:hover {
        background-color: #00ffcc;
        color: white;
    }

/*center submite button*/
#contact .form-group:nth-child(6) {
    text-align: center;
}


/*grow borders of contact box when clicked*/
.border-button {
    outline: solid 5px #00ffcc;
    transition: outline 0.6s linear;
    margin: 0.5em; /* Increased margin since the outline expands outside the element */
}

    .border-button:hover {
        /*outline-width: 10px;*/
    }

/* -------------------------------------------------------------------------
  Preloader
   ------------------------------------------------------------------------- */
/*Preload animation for actual page elements*/
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-500%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

#main-nav, .bio, .container, #skills {
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

h1 {
    animation: 1s ease-out 0s 1 slideInFromRight;
}

/* Page Loader preload wrapper*/
.loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #262626;
    height: 100%;
    width: 100%;
    z-index: 999999;
}


/* -------------------------------------------------------------------------
  Responsive Design
   ------------------------------------------------------------------------- */

/*TODO: Look at putting main-nav and other stuff to more generalized max width if possible*/

/*Mobile Devices*/

/* iPhone 6/7/8 plus in portrait */
@media only screen and (max-device-width : 414px) and (max-device-height : 736px) and (orientation : portrait) { /*TODO: Try adding min and max to avoid anything smaller from causing error*/

    .open_close_doors {
        top: 15%;
        left: 10%;
        font-size: 2rem;
    }

    /*Reduce padding and margin so it takes out screen size more*/
    article.bio {
        margin: 0;
        padding: 5px 5px;
        overflow: scroll;
    }
    /*Make sure now it takes the full size of the bio section and remove the floating aspects*/
    #bio-description {
        width: 100%;
        float: none;
        padding: 10% 15%;
        max-height: 100%; /* This changes it so that it does not allow box to be pushed off screen*/
        line-height: 2rem;
        top: 20%;
        margin: 1rem 0;
        overflow: scroll; /*Enable scroll so it does not get hidden*/
    }

    #stage {
        width: 50%;
    }

    #bio-object {
        float: none;
        padding: 5%;
        position: absolute;
    }

        #bio-object img {
            width: 150px;
            height: 110px;
        }

    /*Skills*/
    h1 {
        font-size: 4rem;
    }

    /*Projects*/
    .container {
        width: 90%;
    }

    /*Contact Form*/
    #contact form {
        padding: 2rem 2rem;
    }

    /*Contact Form*/
    #contact form {
        padding: 2rem 2rem;
    }

    #form-wrap {
        margin-left: 2.5rem;
        margin-bottom: 5rem;
    }

    /*Nav*/
    #main-nav {
        width: 6%;
        font-size: 0.6rem;
    }

    #menu-content ul {
        width: 90%;
        left: 8%;
        position: sticky;
    }

    div.containerz a {
        padding: 3px;
    }

    .social-media li {
        line-height: 0.5;
    }

        .social-media li a {
            margin: 0.3rem;
            padding: 0;
            font-size: 0.9rem;
        }


    #menu-pointer {
        font-size: 1rem;
        top: 10%;
        margin-top: 2rem;
    }
}

/* iPhone 6/7/8 plus in landscape */
@media only screen and (max-device-width : 736px) and (max-device-height : 414px) and (orientation : landscape) { /*TODO: Try adding min and max to avoid anything smaller from causing error*/

    /*Home page*/
    .open_close_doors {
        top: 20%;
        left: 15%;
    }

    article.bio {
        margin: 0;
        padding: 5px 5px;
        overflow: scroll;
    }

    #bio-description {
        width: 100%;
        float: none;
        line-height: 2rem;
        top: 20%;
        max-height: 100%; /* This changes it so that it does not allow box to be pushed off screen*/
        overflow: scroll;
        margin: 1rem 0;
        padding: 0 15% 50%; /*enables no padding at top but puts padding at the bottom to allow scroll all the way to the bottom*/
    }

    #stage {
        left: 20%;
    }

    #bio-object {
        float: none;
        padding: 5%;
    }

        #bio-object img {
            width: 150px;
            height: 110px;
        }

    /*Contact Form*/
    #contact form {
        padding: 2rem 2rem;
    }

    #form-wrap {
        margin-left: 2.5rem;
        margin-bottom: 5rem;
        width: 250%;
        margin-left: -8rem;
    }

    /*Nav*/
    #main-nav {
        width: 5%;
        overflow: auto; /*Remove hidden to avoid bottom nav from being hidden*/
        font-size: 0.6rem;
    }

    #menu-content ul {
        width: 90%;
        left: 8%;
        position: sticky;
    }

    div.containerz a {
        padding: 3px;
    }

    .social-media li a {
        margin: 0.5rem;
        padding: 0;
        font-size: 0.9rem;
    }

    /*Decrease the font size and move the menu word and move the button down*/
    #menu-pointer {
        font-size: 1rem;
        top: 10%;
        padding: 1rem;
        margin-top: 1rem;
    }

    #menu-button {
        top: 80%;
    }
}

/*iPhone X potrait*/
@media only screen and (-webkit-min-device-pixel-ratio: 3) and (max-device-width : 375px) and (max-device-height : 812px) and (orientation : portrait), only screen and ( min--moz-device-pixel-ratio: 3) and (max-device-width : 375px) and (max-device-height : 812px) and (orientation : portrait), only screen and ( -o-min-device-pixel-ratio: 3) and (max-device-width : 375px) and (max-device-height : 812px) and (orientation : portrait), only screen and ( min-device-pixel-ratio: 3) and (max-device-width : 375px) and (max-device-height : 812px) and (orientation : portrait) {

    .open_close_doors {
        top: 15%;
        left: 10%;
        font-size: 2rem;
    }

    /*Makes sure we can scroll down when viewport is too long*/
    article.bio {
        margin: 0;
        padding: 5px 5px;
        overflow: scroll;
    }

    #bio-description {
        width: 100%;
        float: none;
        padding: 15% 15%;
        max-height: 100%; /* This changes it so that it does not allow box to be pushed off screen*/
        line-height: 2rem;
        top: 20%;
        overflow: scroll;
    }

    #stage {
        padding: 10% 0; /*Pushes the rotating image down so it does not go too close to description*/
    }

    #bio-object {
        float: none;
        padding: 5%;
        position: relative;
    }

        #bio-object img {
            width: 150px;
            height: 110px;
        }

    /*Skills*/
    h1 {
        font-size: 4rem;
    }

    /*Projects*/
    .container {
        width: 90%;
    }

    /*Contact Form*/
    #contact form {
        padding: 2rem 2rem;
    }

    #form-wrap {
        margin-left: 1.5rem;
        margin-bottom: 5rem;
    }


    /*Nav*/
    #main-nav {
        font-size: 0.5rem;
        overflow: auto;
        width: 6%;
    }

    #menu-content ul {
        width: 90%;
        left: 8%;
        position: sticky;
    }

    div.containerz a {
        padding: 3px;
    }

    .social-media li {
        line-height: 0.5;
    }
        /*TODO: look into changing this font as a query for all media devices with these values*/
        .social-media li a {
            margin: 0.3rem;
            padding: 0;
            font-size: 1rem;
        }
    /*Decrease menu pointer size*/
    #menu-pointer {
        font-size: 1rem;
        top: 10%;
        margin-top: 4rem;
    }
}

/*iPhone X landscape*/
@media only screen and (-webkit-min-device-pixel-ratio: 3) and (max-device-width : 812px) and (max-device-height : 375px) and (orientation : landscape) and (min-device-width : 811px) and (min-device-height : 374px), only screen and ( min--moz-device-pixel-ratio: 3) and (max-device-width : 812px) and (max-device-height : 375px) and (orientation : landscape) and (min-device-width : 811px) and (min-device-height : 374px), only screen and ( -o-min-device-pixel-ratio: 3) and (max-device-width : 812px) and (max-device-height : 375px) and (orientation : landscape) and (min-device-width : 811px) and (min-device-height : 374px), only screen and ( min-device-pixel-ratio: 3) and (max-device-width : 812px) and (max-device-height : 375px) and (orientation : landscape) and (min-device-width : 811px) and (min-device-height : 374px) {

    /*Home page*/
    .open_close_doors {
        top: 20%;
        left: 15%;
    }

    article.bio {
        margin: 0;
        padding: 5px 5px;
        overflow: scroll;
    }

    #bio-description {
        width: 100%;
        float: none;
        line-height: 2rem;
        top: 20%;
        max-height: 100%; /* This changes it so that it does not allow box to be pushed off screen*/
        overflow: scroll;
        margin: 1rem 0;
        padding: 0 15% 50%; /*enables no padding at top but puts padding at the bottom to allow scroll all the way to the bottom*/
    }

    #stage {
        left: 20%;
    }

    #bio-object {
        float: none;
        padding: 5%;
    }

        #bio-object img {
            width: 150px;
            height: 110px;
        }

    /*Contact Form*/
    #contact form {
        padding: 2rem 2rem;
    }

    #form-wrap {
        margin-left: 2.5rem;
        margin-bottom: 5rem;
        width: 250%;
        margin-left: -8rem;
    }

    #main-nav {
        width: 5%;
        overflow: auto; /*Remove hidden to avoid bottom nav from being hidden*/
        font-size: 0.6rem;
    }

    #menu-content ul {
        width: 90%;
        left: 8%;
        position: sticky;
    }

    div.containerz a {
        padding: 3px;
    }

    .social-media li a {
        margin: 0.3rem;
        padding: 0;
        font-size: 0.9rem;
    }

    /*Decrease the font size and move the menu word and move the button down*/
    #menu-pointer {
        font-size: 1rem;
        top: 10%;
        padding: 1rem;
        margin-top: 0.6rem;
    }

    #menu-button {
        top: 90%;
    }
}



/*S7 Edge Potrait*/
@media only screen and (-webkit-min-device-pixel-ratio: 4) and (max-device-width : 360px) and (max-device-height : 640px) and (orientation : portrait) and (min-device-width : 359px) and (min-device-height : 639px), only screen and ( min--moz-device-pixel-ratio: 4) and (max-device-width : 360px) and (max-device-height : 640px) and (orientation : portrait) and (min-device-width : 359px) and (min-device-height : 639px), only screen and ( -o-min-device-pixel-ratio: 4) and (max-device-width : 360px) and (max-device-height : 640px) and (orientation : portrait) and (min-device-width : 359px) and (min-device-height : 639px), only screen and ( min-device-pixel-ratio: 4) and (max-device-width : 360px) and (max-device-height : 640px) and (orientation : portrait) (min-device-width : 359px) and (min-device-height : 639px) {

    .open_close_doors {
        top: 10%;
        left: 10%;
        font-size: 2rem;
    }

    #main-nav {
        font-size: 0.5rem;
        overflow: auto;
    }

    #menu-content ul {
        width: 90%;
        left: 8%;
        position: sticky;
    }

    div.containerz a {
        padding: 3px;
    }

    /*Contact Form*/
    #contact form {
        padding: 2rem 2rem;
    }

    #form-wrap {
        margin-left: 2.5rem;
        margin-bottom: 5rem;
    }


    /*Fixes social media icon display issue*/
    .social-media li a {
        margin: 0.2rem;
        padding: 0;
        font-size: 0.8rem;
    }

    /*Decrease menu button size*/
    #menu-pointer {
        font-size: 1rem;
        top: 10%;
        margin-top: 0rem;
    }
}

/*S7 Edge landscape*/
@media only screen and (max-device-width : 640px) and (max-device-height : 360px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 4) and (min-device-width : 639px) and (min-device-height : 359px) {

    /*Home page*/
    .open_close_doors {
        top: 15%;
        left: 10%;
    }

    #bio-description {
        max-height: 100%; /* This changes it so that it does not allow box to be pushed off screen*/
        overflow: scroll;
        margin: 1rem 0;
        padding: 0 15% 50%; /*enables no padding at top but puts padding at the bottom to allow scroll all the way to the bottom*/
    }

    /*Contact Form*/
    #contact form {
        padding: 2rem 2rem;
    }

    #form-wrap {
        margin-left: 2.5rem;
        margin-bottom: 5rem;
        width: 250%;
        margin-left: -8rem;
    }


    #main-nav {
        width: 5%;
        overflow: auto; /*Remove hidden to avoid bottom nav from being hidden*/
        font-size: 0.6rem;
    }

    #menu-content ul {
        width: 90%;
        left: 8%;
        position: sticky;
    }

    div.containerz a {
        padding: 3px;
    }

    .social-media li a {
        margin: 0.3rem;
        padding: 0;
        font-size: 0.8rem;
    }

    /*Decrease the font size and move the menu word and move the button down*/
    #menu-pointer {
        font-size: 1rem;
        top: 10%;
        padding: 1rem;
        margin-top: 0rem;
    }

    #menu-button {
        top: 85%;
    }
}

/* Samsung Galaxy A8 Potrait */
@media only screen and (-webkit-min-device-pixel-ratio: 2.9) and (max-device-width : 372px) and (max-device-height : 766px) and (orientation : portrait) and (min-device-width : 371px) and (min-device-height : 765px), only screen and ( min--moz-device-pixel-ratio: 2.9) and (max-device-width : 372px) and (max-device-height : 766px) and (orientation : portrait) and (min-device-width : 371px) and (min-device-height : 765px), only screen and ( -o-min-device-pixel-ratio: 2.9) and (max-device-width : 372px) and (max-device-height : 766px) and (orientation : portrait) and (min-device-width : 371px) and (min-device-height : 765px), only screen and ( min-device-pixel-ratio: 2.9) and (max-device-width : 372px) and (max-device-height : 766px) and (orientation : portrait) (min-device-width : 371px) and (min-device-height : 765px) { /*TODO: Try adding min and max to avoid anything smaller from causing error*/

    .open_close_doors {
        top: 10%;
        left: 4%;
        font-size: 2rem;
    }

    /*Reduce padding and margin so it takes out screen size more*/
    article.bio {
        margin: 0;
        padding: 5px 5px;
        overflow: scroll;
    }
    /*Makes sure we can scroll down when viewport is too long*/
    article.bio {
        margin: 0;
        padding: 5px 5px;
        overflow: scroll;
    }

    #bio-description {
        width: 100%;
        float: none;
        padding: 15% 15%;
        max-height: 100%; /* This changes it so that it does not allow box to be pushed off screen*/
        line-height: 2rem;
        top: 20%;
        overflow: scroll;
    }

    #stage {
        padding: 10% 0; /*Pushes the rotating image down so it does not go too close to description*/
    }

    #bio-object {
        float: none;
        padding: 5%;
        position: relative;
    }

        #bio-object img {
            width: 150px;
            height: 110px;
        }

    /*Skills*/
    h1 {
        font-size: 4rem;
    }

    /*Projects*/
    .container {
        width: 90%;
    }

    /*Contact Form*/
    #contact form {
        padding: 2rem 2rem;
    }

    #form-wrap {
        margin-left: 1.5rem;
        margin-bottom: 5rem;
    }


    /*Nav*/
    #main-nav {
        font-size: 0.5rem;
        overflow: auto;
        width: 6%;
    }

    #menu-content ul {
        width: 90%;
        left: 8%;
        position: sticky;
    }

    div.containerz a {
        padding: 3px;
        
    }

    .social-media li {
        line-height: 0.5;
    }
        /*TODO: look into changing this font as a query for all media devices with these values*/
        .social-media li a {
            margin: 0.3rem;
            padding: 0;
            font-size: 1rem;
        }

    /*Decrease menu button size*/
    #menu-pointer {
        font-size: 1rem;
        top: 10%;
        margin-top: 3rem;
    }
}

/*Samsung Galaxy A8 landscape*/
@media only screen and (-webkit-min-device-pixel-ratio: 2.9) and (max-device-width : 766px) and (max-device-height : 372px) and (orientation : landscape) and (min-device-width : 765px) and (min-device-height : 371px), only screen and ( min--moz-device-pixel-ratio: 2.9) and (max-device-width : 766px) and (max-device-height : 372px) and (orientation : landscape) and (min-device-width : 765px) and (min-device-height : 371px), only screen and ( -o-min-device-pixel-ratio: 2.9) and (max-device-width : 766px) and (max-device-height : 372px) and (orientation : landscape) and (min-device-width : 765px) and (min-device-height : 371px), only screen and ( min-device-pixel-ratio: 2.9) and (max-device-width : 766px) and (max-device-height : 372px) and (orientation : landscape) (min-device-width : 765px) and (min-device-height : 371px) {

    /*Home page*/
    .open_close_doors {
        top: 15%;
        left: 3%;
    }

    #bio-description {
        width: 100%;
        float: none;
        line-height: 2rem;
        top: 20%;
        max-height: 100%; /* This changes it so that it does not allow box to be pushed off screen*/
        overflow: scroll;
        margin: 1rem 0;
        padding: 0 15% 50%; /*enables no padding at top but puts padding at the bottom to allow scroll all the way to the bottom*/
    }

    /*Contact Form*/
    #contact form {
        padding: 2rem 2rem;
    }

    #form-wrap {
        margin-left: 2.5rem;
        margin-bottom: 5rem;
        width: 250%;
        margin-left: -8rem;
    }


    #main-nav {
        width: 5%;
        overflow: auto; /*Remove hidden to avoid bottom nav from being hidden*/
        font-size: 0.6rem;
    }

    #menu-content ul {
        width: 90%;
        left: 8%;
        position: sticky;
    }

    div.containerz a {
        padding: 3px;
    }

    .social-media li a {
        margin: 0.3rem;
        padding: 0;
        font-size: 0.8rem;
    }

    /*Decrease the font size and move the menu word and move the button down*/
    #menu-pointer {
        font-size: 1rem;
        top: 10%;
        padding: 1rem;
        margin-top: 0rem;
    }

    #menu-button {
        top: 80%;
    }
}

/*S20 Ultra 5G Potrait*/
@media only screen and (-webkit-min-device-pixel-ratio: 3.4) and (max-device-width : 423px) and (max-device-height : 941px) and (orientation : portrait) and (min-device-width : 422px) and (min-device-height : 940px), only screen and ( min--moz-device-pixel-ratio: 3.4) and (max-device-width : 423px) and (max-device-height : 941px) and (orientation : portrait)and (min-device-width : 422px) and (min-device-height : 940px), only screen and ( -o-min-device-pixel-ratio: 3.4) and (max-device-width : 423px) and (max-device-height : 941px) and (orientation : portrait) and (min-device-width : 422px) and (min-device-height : 940px), only screen and ( min-device-pixel-ratio: 3.4) and (max-device-width : 423px) and (max-device-height : 941px) and (orientation : portrait) and (min-device-width : 422px) and (min-device-height : 940px) {

    /*Bio*/
    /*Makes sure we can scroll down when viewport is too long*/
    article.bio {
        margin: 0;
        padding: 5px 5px;
        overflow: scroll;
    }

    #bio-description {
        width: 100%;
        float: none;
        padding: 15% 15%;
        height: 100%; /* This changes it so that it does not allow box to be pushed off screen*/
        line-height: 2rem;
        top: 20%;
        overflow: scroll;
    }

    #stage {
        padding: 10% 0; /*Pushes the rotating image down so it does not go too close to description*/
    }

    #bio-object {
        float: none;
        padding: 5%;
        position: relative;
    }

        #bio-object img {
            width: 150px;
            height: 110px;
        }

    /*Skills*/
    h1 {
        font-size: 4rem;
    }

    /*Projects*/
    .container {
        width: 100%;
        overflow: auto;
    }

    /*Contact Form*/
    #contact form {
        padding: 2rem 2rem;
    }

    #form-wrap {
        margin-left: 2.5rem;
        margin-bottom: 5rem;
    }

    /*Nav*/
    #main-nav {
        font-size: 0.6rem;
        overflow: auto;
        width: 6%;
    }

    #menu-content ul {
        width: 90%;
        left: 8%;
        position: sticky;
    }

    div.containerz a {
        padding: 3px;
    }

    .social-media li {
        line-height: 0.5;
    }

        .social-media li a {
            margin: 0.3rem;
            padding: 0;
            font-size: 0.8rem;
        }

    /*Decrease menu button size*/
    #menu-pointer {
        font-size: 1rem;
        top: 10%;
        margin-top: 9rem;
    }
}

/*S20 Landscape*/
@media only screen and (-webkit-min-device-pixel-ratio: 3.4) and (max-device-width : 941px) and (max-device-height : 423px) and (orientation : landscape) and (min-device-width : 940px) and (min-device-height : 422px), only screen and ( min--moz-device-pixel-ratio: 3.4) and (max-device-width : 941px) and (max-device-height : 423px) and (orientation : landscape) and (min-device-width : 940px) and (min-device-height : 422px), only screen and ( -o-min-device-pixel-ratio: 3.4) and (max-device-width : 941px) and (max-device-height : 423px) and (orientation : landscape) and (min-device-width : 940px) and (min-device-height : 422px), only screen and ( min-device-pixel-ratio: 3.4) and (max-device-width : 941px) and (max-device-height : 423px) and (orientation : landscape) and (min-device-width : 940px) and (min-device-height : 422px) {
    /*Home page*/
    .open_close_doors {
        top: 20%;
        left: 15%;
    }

    article.bio {
        margin: 0;
        padding: 5px 5px;
        overflow: scroll;
    }

    #bio-description {
        width: 100%;
        float: none;
        line-height: 2rem;
        top: 20%;
        max-height: 100%; /* This changes it so that it does not allow box to be pushed off screen*/
        overflow: scroll;
        margin: 1rem 0;
        padding: 0 15% 30%; /*enables no padding at top but puts padding at the bottom to allow scroll all the way to the bottom*/
    }

    #stage {
        left: 20%;
    }

    #bio-object {
        float: none;
        padding: 5%;
    }

        #bio-object img {
            width: 150px;
            height: 110px;
        }

    /*Contact Form*/
    #contact form {
        padding: 2rem 2rem;
    }

    #form-wrap {
        margin-left: 2.5rem;
        margin-bottom: 5rem;
        width: 250%;
        margin-left: -8rem;
    }

    #main-nav {
        width: 5%;
        overflow: auto; /*Remove hidden to avoid bottom nav from being hidden*/
        font-size: 0.6rem;
    }

    #menu-content ul {
        width: 90%;
        left: 8%;
        position: sticky;
    }

    div.containerz a {
        padding: 3px;
    }

    .social-media li a {
        margin: 0.3rem;
        padding: 0;
        font-size: 0.9rem;
    }

    /*Decrease the font size and move the menu word and move the button down*/
    #menu-pointer {
        font-size: 1rem;
        top: 10%;
        padding: 1rem;
        margin-top: 1rem;
    }

    #menu-button {
        top: 75%;
    }
}

/*Smaller screen width in desktop*/

@media only screen and (max-width: 1484px) and (min-width:1024px) and (min-height: 1800px) {
    /*Shrink image size when horizontal screen within this range*/
    #bio-object img {
        width: 150px;
        height: 110px;
    }

    /*Projects*/
    .container {
        width: 100%;
        overflow: none;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 737px) and (min-height: 813px) {
    /*Bio*/
    /*Makes sure we can scroll down when viewport is too long*/
    article.bio {
        margin: 0;
        padding: 5px 5px;
        overflow: scroll;
    }

    #bio-description {
        width: 100%;
        float: none;
        padding: 15% 15%;
        height: 100%; /* This changes it so that it does not allow box to be pushed off screen*/
        line-height: 2rem;
        top: 20%;
    }

    #stage {
        padding: 5% 30%; /*Pushes the rotating image down so it does not go too close to description and also right so it is centered*/
    }

    #bio-object {
        float: none;
        padding: 5%;
        position: relative;
    }

        #bio-object img {
            width: 150px;
            height: 110px;
        }

    /*Contact Form*/
    #contact form {
        padding: 2rem 2rem;
    }

    #form-wrap {
        margin-left: 2.5rem;
        margin-bottom: 5rem;
        width: 250%;
        margin-left: -8rem;
    }

    /*Projects*/
    .container {
        width: 100%;
        overflow: none;
    }

    /*Nav*/
    #main-nav {
        font-size: 0.6rem;
        overflow: auto;
        width: 3%;
    }

    #menu-content ul {
        width: 90%;
        left: 8%;
        position: sticky;
    }

    div.containerz a {
        padding: 3px;
    }

    .social-media li {
        line-height: 0.5;
    }

        .social-media li a {
            margin: 0.3rem;
            padding: 0;
            font-size: 0.8rem;
        }

    /*Decrease the font size and move the menu word and move the button down*/
    #menu-pointer {
        font-size: 1rem;
        top: 10%;
        padding: 1rem;
        margin-top: 1rem;
    }

    #menu-button {
        top: 75%;
    }
}
