<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyPortfolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/pre-loader.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav id="main-nav">
            <div id="menu-button" >
            </div>
            <div id="logo"></div>
            <div id="menu-content" class="invisible containerz blue circleBehind">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">HOME</a></li>
                    <li><a asp-controller="Home" asp-action="Bio">BIO</a></li>
                    <li><a asp-controller="Home" asp-action="Skills">SKILLS</a></li>
                    <li><a asp-controller="Home" asp-action="Projects">PROJECTS</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">CONTACT</a></li>
                </ul>
            </div>
        </nav>

    </header>
    <main role="main">
        <div id="pre-loader"></div>
        @*try using invisible class if this does not work*@

        @if (IsSectionDefined("SpecialOther"))
        {
            @RenderSection("SpecialOther")
        }
        @RenderBody()

    </main>

    @*<footer class="border-top footer text-muted">

            <div class="container">
                &copy; 2020 - MyPortfolio - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="https://kit.fontawesome.com/199919a52c.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
